  @font-face { font-family: Futura; relative: ('fonts/body/Futura.ttc'); } 
  @font-face { font-family: HelveNeuBolCon; relative: ('fonts/headers/HelveNeuBolCon.tcc'); } 

  * { box-sizing: border-box; }

  body, html {
    width: 100%;
    line-height: 1;
  }

  body { 
  	overflow-x: hidden; 
  	font-family: Futura;
  	background-color: rgb(209,209,209);
    color:black;

  }
  #introtext {
    font-family: Futura;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    height:auto;
    text-align: left;
    padding: 350px 0 100px 60px;
    vertical-align: middle;
    height: 1024px;
  }

  .crossedOutContainer {
    position: relative; 
  }

  .crossedOut {
    position: absolute; 
    top: 45%; 
    left: 0px;
    z-index: 100;
    width: 95%;
    border-width: 15px;
    border-bottom: none;
    border-style: solid;
    color: yellow;
    display:inline-block;
      -ms-transform: rotate(-2deg); /* IE 9 */
      -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
      transform: rotate(-2deg);

  }

   .slidenav> a:active a:focus,  {
      color: rgb(254, 240, 89)!important;
   
  }
  .textPrimary {
    color:yellow; 
  }

  .subnavcol {
    float: left ;
    padding-left: 0;
  }
  .subnavcol2 {
    float: left ;
    padding-left: 5%;
  }

  /*navigation menu item spacing*/
  .Pspace {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2;
  }


  /*body sections*/
  #site-wrapper {
    position: relative;
    width: 100%;
    padding: 0 0 0;
     
  }

   .slidenav a:focus, a:active {
      color: rgb(254, 240, 89);
  }


  #services a, a:focus, a:hover, a:visited, a:active {
    color: black;
    text-decoration: none;
   }
   
  #services {
  	font-family: Futura;
  	font-size: 6vw;
  	font-weight: 900;
    text-decoration: none;
    height: 900px;
    padding: 60px 60px;

  }

  .img:hover, .img:focus, .imagebox.img:hover, .imagebox:focus {
  	outline:none;
    text-decoration: none;
  }

  /*This changes the main page spacing on the layout*/

  .variable-width {
  	height:350px;
  	width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  a:focus img {
    text-decoration: none;
  }

  /*class to hide the placeholder divs*/
  .hidden {
  	display: none;
  	visibility: hidden;
  }

  .menu {
    width: 400px;
    font-size: 20px;
    height: 100%;
    background: #333;
    background-color:rgba(10, 10, 10, 0.8);
    position: fixed;
    top: 60px;
    right: -400px;
    color: white;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s;
   transition: all 0.5s;
    z-index: 8;
  }

  .menu.show-nav {
    -webkit-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px) tranlateZ(0);
    -ms-transform: translateX(-400px) tranlateZ(0);
    transform: translateX(-400px) tranlateZ(0);
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
  }

  .menu a {
    color: rgba(255, 255, 255, 1);
  }

  .menu>ul {
    padding: 120px 20px 0;
  }
  .menu ul li {
    list-style: none;
    text-align: center;
    clear:both;
    position: center;
    text-align: center;
    line-height: 1.2;
  }

  .menu ul li a {
    position: relative;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  ul, menu, dir {
       -webkit-padding-start: 0;
  }

  .textsubmenu {
    font-size: 15px;
    text-align: center;
  }


  .nav-toggle {
    position: fixed;
    top: 15px;
    right: 25px;
    -webkit-transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    z-index: 10;
  }

  .nav-toggle span {
    color: #4c4c4c;
    color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    font-size: 1.875em;
  }

  .nav-toggle.show-nav {
    top: 15px;
    right: 25px;
    z-index: 10;
  }

  .transformCapitalization {
  	text-transform: uppercase;
    margin: auto;
  }

  .affix {
    top:0;
    width: 100%;
    z-index: 9;
    }

  .navbar-brand>img {
    width: 50%;
    padding: 5px 0 5px 0;

  }

  .navbar {
    background-color:rgba(10, 10, 10, 0.8);
    margin:0;
    border: 0;
    z-index: 10;
    border-radius:0;
  } 

  .navicon img {
    height: auto;
    width: 85%;
    padding: 0 0 0 0;
  }
.navbar-brand img {
  padding-top:5px;
  width:50%;
}
  .navbar-brand,
  .navbar-nav li a {
      height: 60px;
      padding: 0 25px 0;
      
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }


  /* Centers text on image slider*/
  .wordimage {
    position: absolute;
    left:150px;
    top: 30%;
    text-align: left;
   
  }
  /*styles the words on the image slider*/
  h2 {
    color: white;
    font-size: 6vw; 
    font-weight: 800; 
    margin: 10px;
  }
   #SocialIcons {
    position: absolute; 
    bottom: 80px;
    left:270px;

  }



  #fancyoverlay-bg {
    z-index: 99;
    display: none;
    top:0px;
    left:0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
  }

  #fancyoverlay {
    z-index:100;
    display: none;
    top:0px;
    left:0px;
    position: fixed;
    width: 100%;
    height: 100%
  }

  #fancyOverlay-carousel {
    position: relative;
  }


  #fancyOverlay-carousel div {
   
   margin-left: 40px;
   margin-right: 40px;
   padding-left: 60px;
   padding-right: 60px;
  } 

   #fancyOverlay-carousel img {
    height: 20%;
    padding: 5px;
  }


  #fancyoverlay div.overlay-carousel img {
    cursor: pointer;
    vertical-align: center;
  }



  #fancyOverlay-large  img {
    display: block;
    height:80%;
    margin-top:10px;
    margin-bottom:5px;
    margin-left: auto;
    margin-right: auto;
  }

  #fancyOverlay-large div img {
    height: 80%;
    top:50px;
    position: fixed;
    padding-left: 2%;
    padding-right: 2%;
  }

  #fancyoverlay .close-button {
    position: absolute;
    top: 20px;
    right:50px;
    color: #ddd;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
  }

  .lb-closeContainer {
      position: absolute;
      right: -25px;
      top: -600px;
      z-index: 100;
  }
   /*over-ride the slick carousel arrow color, black is nearly invisible */
  button.slick-arrow:before {
    color: #ddd;
  

  /*For phone screen sizes*/

  @media (max-width: 600px) {
    .variable-width img{
    max-height:70%;
    padding-top: 2px;
    padding-bottom: 2px; 

  }
  .slick-slide {
    display: none;
    float: left;
    height: 70%;
    width: auto;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 10px;
    outline: none;
}
 #introtext {
    font-family: Futura;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    height:280px;
    text-align: left;
    padding: 120px 0 60px 60px;
    vertical-align: middle;
   
  }
  .crossedOut {
    position: absolute;
    top: 45%;
    left: 0px;
    z-index: 100;
    width: 95%;
    border-width: 6px;
    border-bottom: none;
    border-style: solid;
    color: yellow;
    display: inline-block;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.wordimage {
    position: absolute;
    left: 100px;
    top: 30%;
    text-align: left;
}
 }
/*For tablet screen sizes*/ 
@media  (max-width:900)(min-width: 768px)  {

    .variable-width img{
    max-height:90%;
    padding-top: 2px;
    padding-bottom: 2px; 

  }
  .slick-slide {
    display: none;
    float: left;
    height: 70%;
    width: auto;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 10px;
    outline: none;
}
 #introtext {
    font-family: Futura;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    height:50%;
    text-align: left;
    padding: 190px 0 60px 60px;
    vertical-align: middle;
   
  }
  .crossedOut {
    position: absolute;
    top: 45%;
    left: 0px;
    z-index: 100;
    width: 95%;
    border-width: 13px;
    border-bottom: none;
    border-style: solid;
    color: yellow;
    display: inline-block;
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.wordimage {
    position: absolute;
    left: 150px;
    top: 30%;
    text-align: left;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 35%;
    display: block;
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background: none;
 }
}

/*For desktop screen sizes*/
@media  (max-width:2525)(min-width: 1600px)  {

    #services {
    font-family: Futura;
    font-size: 6vw;
    font-weight: 900;
    text-decoration: none;
    height: 1220px;
    padding: 60px 60px;

  }

   #introtext {
    font-family: Futura;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1;
    height:50%;
    text-align: left;
    padding: 190px 0 60px 60px;
    vertical-align: middle;
    height: 1220px;
   
  }
}